

:root{
    --pri-clr:#310471;
    --sec-clr:#002749;
    --white-clr:#FFFFFF;
    --yellow-clr:#FFD301;
    --cream-clr:#F5B5B5;
    --blue-clr:#4C40F7;
    --gray-clr:#6A6A74;
    --black-clr:#151718;
    --orange-clr:#FF7425 ;
    --green-clr:#33CC79;
    --text-clr:#202026;
    --deep-rose-clr:#E01E5A;
    --aqua-clr:#1EDBDC;

}