@use '../utils' as*;






*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*---------------------------------
	typography css start 
---------------------------------*/





ul {
	margin: 0px;
	padding: 0px;
}

body{
   & p {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
}




.title{
    z-index: 99;
    position: relative;
    & span{
        display: inline-block;
        padding: 12px 20px;
        border-radius: 65px;
        border: 1px solid #F5F5F5;
        background-color: var(--white-clr);
        font-family: $Ari;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        font-style: Bold;
        color: #52525C;
        box-shadow:  0 9px 15px 0 #07122314;
        margin-bottom: 35px;
        @media #{$lg} {
            margin-bottom: 25px;
        }
        @media #{$sm} {
            margin-bottom: 15px;
        }
        & i{
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background-color: var(--black-clr);

            &:nth-child(1){
                margin-right: 10px;
            }
            &:nth-child(2){
                margin-left: 10px;
            }
        }
        &.blue{
            & i{
                background-color: var(--blue-clr);
            }
        }
        &.green{
            & i{
                background-color: var(--green-clr);
            }
        }
        &.yellow{
            & i{
                background-color: var(--yellow-clr);
            }
        }
        &.orange{
            & i{
                background-color: var(--orange-clr);
            }
        }
    }
    & h1{
        font-family: $Pop;
        font-weight: 600;
        font-size: 85px;
        line-height: 106px;
        letter-spacing: -1%;
        vertical-align: middle;
        color: #202026;
        margin-top: 50px;

        @media #{$lg} {
            font-size: 60px;
            line-height: 80px;
        }
         @media #{$md} {
            font-size: 50px;
            line-height: 60px;
            margin-top: 25px;
        }
        @media #{$sm} {
            font-size: 40px;
            line-height: 50px;
            margin-top: 15px;
        }
    }
    & h2{
        font-family: $Pop;
        font-weight: 600;
        font-size: 60px;
        line-height: 75px;
        letter-spacing: -1%;
        vertical-align: middle;
        color: #202026;
        @media #{$lg} {
            font-size: 55px;
            line-height: 65px;
        }
        @media #{$md} {
            font-size: 40px;
            line-height: 50px;
        }
        @media #{$mds} {
            font-size: 36px;
            line-height: 45px;
        }
        @media #{$sm} {
            font-size: 30px;
            line-height: 35px;
        }

    }
    & p{
        font-family: $Ari;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #6A6A74;
        margin-top: 50px;
         @media #{$md} {
            font-size: 20px;
            line-height: 30px;
            margin-top: 30px;
        }
        @media #{$sm} {
            font-size: 20px;
            line-height: 30px;
            margin-top: 15px;
        }
    }

    &.white{
        & h2{
        color: var(--white-clr);
        }
    }
}

.title2{
    & span{
        display: inline-block;
        padding: 12px 20px;
        border-radius: 65px;
        border: 1px solid #F5F5F5;
        background-color: var(--white-clr);
        font-family: $Ari;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        font-style: Bold;
        color: #52525C;
        box-shadow:  0 9px 15px 0 #07122314;
        margin-bottom: 35px;
        @media #{$md} {
            margin-bottom: 15px;
        }
        & i{
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 100%;
            background-color: var(--black-clr);

            &:nth-child(1){
                margin-right: 10px;
            }
            &:nth-child(2){
                margin-left: 10px;
            }
        }
        &.blue{
            & i{
                background-color: var(--blue-clr);
            }
        }
        &.green{
            & i{
                background-color: var(--green-clr);
            }
        }
        &.yellow{
            & i{
                background-color: var(--yellow-clr);
            }
        }
        &.orange{
            & i{
                background-color: var(--orange-clr);
            }
        }
    }
    
    & h2{
        font-family: $Pop;
        font-weight: 600;
        font-size: 50px;
        line-height: 62px;
        letter-spacing: -1%;
        vertical-align: middle;
        color: #202026;
        @media #{$lg} {
            font-size: 45px;
            line-height: 55px;
        }
        @media #{$md} {
            font-size: 38px;
            line-height: 45px;
        }
        @media #{$sm} {
            font-size: 28px;
            line-height: 35px;
        }

    }
    & p{
        font-family: $Ari;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #6A6A74;
        margin-top: 50px;
         @media #{$md} {
            font-size: 20px;
            line-height: 30px;
            margin-top: 30px;
        }
        @media #{$sm} {
            font-size: 20px;
            line-height: 30px;
            margin-top: 15px;
        }
    }

    &.white{
        & h2{
        color: var(--white-clr);
        }
    }
}



@keyframes ri-jello {
  0% {
    transform: none;
  }
  11.1% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  22.2% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  33.3% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  44.4% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  55.5% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  66.6% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  77.7% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
  88.8% {
    transform: skewX(0.09765625deg) skewY(0.09765625deg);
  }
  100% {
    transform: none;
  }
}



.accordion{

    .f-accordion-item{
        background-color: #F7F7F7;
        margin-bottom: 20px;
        border-radius: 10px;
        border-bottom: none;
        border: 1px solid #F5F5F5;
        .f-accordion-header{
       
            .f-accordion-button{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border: none;
                background-color: #F7F7F7;
                padding: 39px 45px 36px 45px;
                
                & span{
                    font-family: $Ari;
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 24px;
                    line-height: 30px;
                    letter-spacing: 0%;
                    color: var(--black-clr);

                }
                & i{
                        color: var(--blue-clr);
                        transition: all 0.3s ease;
                        transform: rotate(180deg);
                        width: 30px;

                }
                &.collapsed{
                    & i{
                        color: var(--gray-clr);
                        transform: rotate(90deg);
                        height: 30px;
                    }
                    background-color: #FFFFFF;
                }
               
            }
        }
    }


    .f-accordion-body{
         border-top: 1px solid #E5E5E9;
         padding: 27px 0 47px 0;
        margin: 0 45px;
        & span{
            font-family: $Ari;
            font-weight: 400;
            font-style: Regular;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0%;
            color: var(--gray-clr);
        }
    }
}


.ri_faq{
    padding: 130px 0;
    @media #{$md} {
        padding: 80px 0;
    }
    @media #{$sm} {
        padding: 50px 0;
    }
    
    .accordion{
        .f-accordion-item{
            .f-accordion-header{
                .f-accordion-button{
                    @media #{$md} {
                    padding: 20px;
                    text-align: left;

                    & span{
                        font-size: 22px;
                        line-height: 28px;
                    }
                    
                    & i{
                        margin-left: 20px;
                    }
                }
                    @media #{$sm} {
                    padding: 10px 20px;
                    text-align: left;

                    & span{
                        font-size: 20px;
                        line-height: 26px;
                    }
                    
                    & i{
                        font-size: 18px;
                        margin-left: 20px;
                    }
                }
            }
            }
            .f-accordion-body{
                @media #{$md} {
                  margin: 0 20px;
                  padding: 20px 0;  
                }
                @media #{$sm} {
                  & span{
                    display: block;
                    font-size: 14px;
                    line-height: 19px;
                  }
                }
            }
        }
      }
    }


.ri_price{
    padding-top: 190px;
    padding-bottom: 130px;
    @media #{$md} {
        padding-top: 120px;
        padding-bottom: 80px;
    }
    @media #{$sm} {
        padding-top: 100px;
        padding-bottom: 50px;
        overflow: hidden;
    }
    &-content{
        max-width: 923px;

    }
    &-area{
        display: flex;
        justify-content: center;
        .range-area{
            position: relative;
            height: 12px;
            @media #{$sm} {
                            margin: 0 20px;
                        }
            #range{
                appearance: none;
                width: 100%;
                height: 12px;
                color: #f35308;
                border: none;
                outline: none;
                background-color: #F7F7F7;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 10px;
                

                &::-webkit-slider-thumb{
                    appearance: none;
                    width: 27px;
                    height: 27px;
                    cursor: pointer;
                    z-index: 3;
                    position: relative;
                }
            }
            #selector{
                position: absolute;
                z-index: 999;
                width: 27px;
                height: 27px;
                background-color: #FFFFFF;
                border: 1.5px solid #D9DBE9;
                border-radius: 100%;
                bottom: -50%;
                left: 50%;
                transform: translateX(-50%);
                cursor: pointer;
                #selectValue{
                    width: 95px;
                    height: 50px;
                    border-radius: 20px;
                    background-color: var(--blue-clr);
                    position: absolute;
                    top: -70px;
                    left: -37px;
                    font-size: 20px;
                    color: #FFFFFF;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                     @media #{$sm} {
                            font-size: 16px;
                            width: 50px;
                            height: 40px;
                            border-radius: 10px;
                            top: -50px;
                            left: -18px;
                        }
                }
            }
           #progressBar{
            position: absolute;
            width: 50%;
            height: 12px;
            background-color: var(--blue-clr);
            border-radius: 10px;
            left:0;
            top: 0;
           } 

            
        }

        .item{
            margin-top: 60px;
            display: flex;
            justify-content: center;
            box-shadow: 0 2px 12px 0 #14142B14;
            border-radius: 20px;
            @media #{$mds} {
                flex-direction: column;
            }
            .left{
                padding: 75px 58px 80px 58px;
                width: 50%;
                border: 1px solid #EFF0F6;
                border-right: none;
                @media #{$mds} {
                        width: 100%;
                        padding: 40px 58px 40px 58px;
                    }
                @media #{$sm} {
                        width: 100%;
                        padding: 40px 30px 40px 30px;
                    }
                .info{
                    display: flex;
                    .icon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 72px;
                        height: 72px;
                        border-radius: 16px;
                        background-color:#4c40f73c ;

                    }
                    .text{
                        margin-left: 18px;
                        & p{
                            font-family: $Dm;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 20px;
                            letter-spacing: 0%;
                            color:#6F6C90 ;
                        }
                        & span{
                            font-family: $Pop;
                            font-weight: 600;
                            font-size: 24px;
                            leading-trim: NONE;
                            line-height: 35px;
                            letter-spacing: 0px;
                            color: var(--black-clr);
                        }
                    }
                }
                .article{
                    font-family: $Ari;
                    font-weight: 400;
                    font-size: 18px;
                    leading-trim: NONE;
                    line-height: 30px;
                    letter-spacing: 0%;
                    color: var(--gray-clr);
                    margin-top: 20px;
                    margin-bottom: 26px;
                }
                .price{
                    margin-bottom: 40px;
                    & p{
                        font-family: $Dm;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 22px;
                        letter-spacing: 0%;
                        color: var(--gray-clr);
                        & span{
                            font-family: $Pop;
                            font-weight: 600;
                            font-size: 54px;
                            line-height: 66px;
                            letter-spacing: -2px;
                            color: var(--black-clr);
                            margin-right: 12px;
                        }
                    }
                }
                .price-btn{
                    & a{
                        display: block;
                        border-radius: 100px;
                        padding: 26px 0;
                        background-color: var(--blue-clr);
                        color: #FFFFFF;
                        font-family: $Dm;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 20px;
                        letter-spacing: 0%;
                        text-align: center;
                        transition: all 0.3s ease-in-out;
                        &:hover{
                            transform: scale(0.9);
                        }
                        @media #{$sm} {
                            padding: 20px 0;
                        }

                    }
                }
            }
            .right{
                background-color: #F7F7F7;
                padding-left: 58px ;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                @media #{$mds} {
                        width: 100%;
                        padding: 40px 58px;
                    }
                @media #{$sm} {
                        width: 100%;
                        padding: 40px 30px;
                    }

                & h3{
                   margin-bottom: 24px;
                    font-family: $Pop;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 20px;
                    letter-spacing: 0%;
                    color: var(--text-clr);

                }
                & ul{
                    & li{
                        list-style: none;
                        font-family: $Ari;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 20px;
                        letter-spacing: 0px;
                        color: var(--gray-clr);
                        margin-bottom: 19px;
                        & i{
                            font-size: 26px;
                            color: var(--blue-clr);
                            margin-right: 14px;
                            transform: translateY(3px);
                        }
                    }
                }
            }
        }
    }
}




.ri_error{
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
    @media #{$lg} {
        height: 800px;
    }
    @media #{$md} {
        height: 800px;
    }
    @media #{$sm} {
        height: 600px;
    }
    
    .content{
        position: absolute;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        & h2{
            font-family: $Pop;
            font-weight: 600;
            font-size: 40px;
            line-height: 45px;
            letter-spacing: 0px;
            text-align: center;
            vertical-align: middle;
            color: var(--black-clr);
            margin-bottom: 35px;
            @media #{$mds} {
                font-size: 35px;
                line-height: 40px;
                margin-bottom: 30px;
            }
            @media #{$sm} {
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 30px;
            }

        }
    }
}









