@use '../../utils' as*;



.ri_testimonial{
    overflow: visible;
    &-area{
        overflow: visible;
        z-index: 9;
        padding-top: 130px;
        @media #{$md} {
            padding-top: 80px;
        }
        @media #{$sm} {
            padding-top: 60px;
        }
        .content{
            background-color: #1F2021;
            padding: 80px 138px 80px 100px;
            @media #{$md} {
            padding: 50px 80px 50px 70px;
            }
            @media #{$mds} {
            padding: 40px 20px;
            }
           
            .info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                & a{
                    text-decoration: none;
                    & i{
                        color: var(--blue-clr);
                        font-size: 31px;
                    }
                }
            }
            .text{
                margin-top: 50px;
                 @media #{$md} {
                    margin-top: 20px;
                        }
                & p{
                    font-family: $Ari;
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 61px;
                    letter-spacing: 0%;
                    vertical-align: middle;
                    color: #DDDDDD;
                    @media #{$md} {
                        font-size: 30px;
                        line-height: 45px;
                    }
                    @media #{$mds} {
                        font-size: 25px;
                        line-height: 35px;
                    }
                    @media #{$sm} {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
            }
        }
        .slick-dots{
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.swiper-test1-button-next{
    width: 56px;
    height: 56px;
    border: 1px dashed #38393A;
    border-radius: 100%;
    background-color: #1A1B1C;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 50%;
    right: 0;
    z-index: 999;
    & i{
        font-size: 23px;
        color: var(--white-clr);
    }
}
.swiper-test1-button-prev{
    width: 56px;
    height: 56px;
    border: 1px dashed #38393A;
    border-radius: 100%;
    background-color: #1A1B1C;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 50%;
    left: 0;
    z-index: 999;
    & i{
        font-size: 23px;
        color: var(--white-clr);
    }
}

.ri_testimonial-button-area{
            border-bottom:  1px solid #38393A;
            border-left:  1px solid #38393A;
            border-right:  1px solid #38393A;
            margin-right: -33px;

            @media #{$md} {
                display: none;
            }
    
    .swiper-wrapper{
        height: 154px;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        .swiper-slide{
            padding-top: 50px;
            width: 100%;
            .img1{
                width: 100%;
            }
            &:nth-child(1){
            border-right:  1px solid #38393A;
            }
            &:nth-child(2){
            border-right:  1px solid #38393A;
            }
        }


    }
}
.ri_testimonial{
    &-3{
        padding-top: 130px;
        overflow: hidden;
        @media #{$md} {
            padding-top: 80px;
        }
        @media #{$sm} {
            padding-top: 50px;
        }
        .title{
            & h2{
                font-size: 50px;
                line-height: 62px;
                margin-bottom: 70px;
                @media #{$md} {
                    font-size: 40px;
                    line-height: 50px;
                    margin-bottom: 40px;
                }
                @media #{$sm} {
                    font-size: 30px;
                    line-height: 40px;
                    margin-bottom: 30px;
                }
            }
        }
        &-area{
            .content{
                .item{
                    margin: 0 10px;
                    text-align: center;
                    .text{
                        height: 472px;
                        background-color: var(--white-clr);
                        border-radius: 15px;
                        padding: 50px 45px 0 45px;

                         @media #{$sm} {
                                height: 350px;
                                padding: 30px 20px 0 20px;
                            }
                        .quote{
                             margin-left: 50%;
                             transform: translateX(-50%);
                            width: 46px;
                            height: 46px;
                            border-radius: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 42px;
                            @media #{$md} {
                               margin-bottom: 30px;
                            }
                            @media #{$sm} {
                               margin-bottom: 20px;
                            }
                            & i{
                                font-size: 16px;
                                font-weight: 900;
                                color: var(--white-clr);
                            }
                        }
                        & p{
                            font-family: $Ari;
                            font-weight: 400;
                            font-size: 22px;
                            line-height: 35.5px;
                            letter-spacing: 0%;
                            text-align: center;
                            vertical-align: middle;
                            color: var(--text-clr);

                            @media #{$sm} {
                                font-size: 18px;
                                line-height: 25px;
                            }


                        }
                    }
                    .info{
                        margin-top: -45px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                    
                     }
                }
            }
        }
    }
}


